<h1 class="py-4">Agregar alimentación</h1>

<%= render 'form', breastfeeding: @breastfeeding %>

<div class="pt-4 pb-4">
  <%= link_to 'Atrás', baby_breastfeedings_path(@baby), class: 'btn btn-outline-secondary' %>
</div>